<div class="container-fluid bg-main-image pt-5 pb-5">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-6">
                <!-- <h1 class="fw-bold text-center">Hi! My name is <strong class="green-one">Oscar</strong></h1>
                <br> -->
                <ngx-typed-js [strings]="[textOne]" [contentType]="'html'" [startDelay]="800" [showCursor]="false" [typeSpeed]="90" (completed)="doSmth()">
                    <p class="text-center">
                        <span class="typing fw-bold text-center fs-1"></span>
                    </p>
                </ngx-typed-js>
                <br>
                <ngx-typed-js [strings]="[textTwo]" [showCursor]="true" [typeSpeed]="80" *ngIf="showTwo">
                    <p class="text-center"><span class="typing fw-bold text-center fs-4"></span></p>
                </ngx-typed-js>
                <!-- <br>
                <h4 class="fw-bold text-center">{{ "{ I'm a Software Developer }" }}</h4>
                <br>
                <p class="text-center">
                    <button class="btn btn-csecondary">Download my CV</button>
                </p> -->
                <br>
                <p class="text-center">
                    <button class="btn btn-csecondary">Download my CV</button>
                </p>
            </div>
            <div class="col-md-6 img-margin">
                <img src="assets/image-profile.jpg" alt="Oscar Reyes profile pic" class="img-fluid rounded-circle mx-auto d-block img-border" width="250">
            </div>
        </div>
    </div>
</div>