<div class="container mt-5 mb-5 bg-ccontent shadow-neon-primary rounded" id="contact">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-white">
                <i class="fas fa-hashtag mt-3 me-2"></i> Contact</h3>
            <hr class="text-white">
        </div>
        <div class="col-md-12 mb-5">
            <div class="social-buttons">
                <a href="https://www.linkedin.com/in/oscar-reyes-mtz" target="_blank" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/OscarGX" target="_blank" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.facebook.com/oscar.reyesmartinez.169" target="_blank" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/OscarGx096" target="_blank" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/oscargx096/" target="_blank" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>