<div class="container mt-5 mb-5 bg-ccontent shadow-neon-primary rounded" id="myprojects">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-white">
                <i class="fas fa-hashtag mt-3 me-2"></i> My projects</h3>
            <hr class="text-white">
        </div>
        <div class="col-md-12 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card bg-dark text-white cursor-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="img/img23.jpg" class="card-img-top" alt="Sistema Gestor de Incubadora">
                        <div class="card-body">
                            <h5 class="card-title">Sistema Gestor de Incubadora - UTTT</h5>
                            <p class="card-text">
                                <span class="text-primary">#Web</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content bg-ccontent">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Sistema gestor de incubadora - UTTT</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <div class="row">
                    <div class="col-12">
                        <iframe src="https://res.cloudinary.com/dbttghvhv/video/upload/v1652851815/v2-Example_d2x82l.mp4" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" height="300" width="100%" frameborder="0"></iframe>
                    </div>
                    <div class="col-12 mt-3">
                        <p>
                            Description:
                            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quia ut, odio minus expedita voluptates debitis necessitatibus pariatur? Veniam adipisci laboriosam quae minima culpa illo, nostrum nihil animi iure iusto?
                        </p>
                        <p>
                            <i class="fab fa-github"></i> GitHub repo(s):
                        </p>
                        <ul>
                            <li class="list-unstyled">Backend: <a href="" class="text-decoration-none ctext-link">api</a></li>
                            <li class="list-unstyled">
                                Frontend:
                                <a href="" class="text-decoration-none ctext-link">frontend</a>
                            </li>
                        </ul>
                        <p>
                            <i class="fas fa-layer-group"></i> Technology stack:
                            <br>
                            <span class="badge rounded-pill green-one">C#</span>
                            <span class="badge rounded-pill green-one">Bootstrap</span>
                            <span class="badge rounded-pill green-one">Angular</span>
                            <span class="badge rounded-pill green-one">JavaScript</span>
                            <span class="badge rounded-pill green-one">MySQL</span>
                            <span class="badge rounded-pill green-one">MongoDB</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-csecondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>