<div class="container mt-5 mb-5 bg-ccontent shadow-neon-primary rounded" id="myprojects">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-white">
                <i class="fas fa-hashtag mt-3 me-2"></i> My projects
            </h3>
            <button type="button" id="btnModal" hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
            <hr class="text-white">
        </div>
        <div class="col-md-12 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let project of projects; let i = index;">
                    <div class="card bg-dark text-white cursor-pointer" (click)="projectCardClick(i)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img [src]="project.thumbnail" class="card-img-top" [alt]="project.name">
                        <div class="card-body">
                            <h5 class="card-title"> {{ project.name }} </h5>
                            <p class="card-text">
                                <span class="text-primary" *ngFor="let tag of project.tags"> {{ tag.value }} </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content bg-ccontent">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    {{ project.name }}
                    <!-- {{ projectCardClick(0) }} -->
                </h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <div class="row">
                    <div class="col-12">
                        <!-- <iframe src="https://res.cloudinary.com/dbttghvhv/video/upload/v1653267159/portafolio-oscargx/videos/test-face-verify_tvnem5.mp4" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" height="300" width="100%" frameborder="0"></iframe> -->
                        <iframe [src]="project.videoUrl | urlSanitizer" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" height="300" width="100%" frameborder="0"></iframe>
                    </div>
                    <div class="col-12 mt-3">
                        <p>
                            Description:
                            <br> {{ project.description }}
                        </p>
                        Repositories:
                        <ul>
                            <li class="list-unstyled" *ngFor="let repo of project.repos">
                                <i [class]="repo.platform | projectRepo"></i>
                                <span class="ms-1"> {{ repo.description }}: </span>
                                <a [href]="repo.url" target="_blank" class="text-decoration-none ctext-link"> {{ repo.name }} </a>
                            </li>
                        </ul>
                        <p>
                            Technology stack:
                            <br>
                            <span class="badge rounded-pill green-one" *ngFor="let tech of project.technologies">
                                {{ tech.name }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-csecondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>