/* You can add global styles to this file, and also import other style files */

@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/navigation';

/* Global Styles */

.bg-ccontent {
    background-color: #1e1e1e;
}

.bg-main-image {
    background-image: url('assets/Image-Main-Container.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.green-one {
    color: #33D17C;
}

.btn-csecondary {
    color: #fff;
    background-color: #3339D1;
    border-color: #3339D1;
}

.fs-0 {
    font-size: 50px;
}

.btn-csecondary:hover {
    color: #fff;
    background-color: #3337ae;
    border-color: #3337ae;
}

.img-margin {
    margin-top: 0px;
}

.img-border {
    border-width: 5px;
    border-style: solid;
    border-color: #3339D1;
}

.bg-ccontent {
    background-color: #1e1e1e;
}

.shadow-neon-primary {
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #33D17C, 0 0 7px #33D17C, 0 0 8px #33D17C, 0 0 9px #33D17C;
}

.ctext-link {
    color: #9f7efe;
}

.swiper {
    width: 100%;
    height: 150px;
    /* border-width: 1px;
    border-style: solid;
    border-color: #3339D1; */
}

.swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff;
    width: 50%; */
    /* Center slide text vertically */
    /* width: 50% !important; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.certification-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: #3339D1 !important; */
    border-radius: 50%;
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 1px #3339D1, 0 0 2px #3339D1, 0 0 3px #3339D1, 0 0 4px #3339D1;
}

.certification-avatar-container {
    /* width: 30%; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.certification-name-container {
    /* width: 70%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

@media (max-width: 768px) {
    .img-margin {
        margin-top: 1.5rem;
    }
}


/* End global styles */


/* Social Button Styles */

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -10px;
}

.social-buttons__button {
    margin: 10px 5px 0;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
    border-radius: 100%;
    background: #2d2d30;
    text-align: center;
}

.social-button::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
    color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 28px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button--mail {
    color: #0072c6;
}

.social-button--mail::after {
    background: #0072c6;
}

.social-button--facebook {
    color: #3b5999;
}

.social-button--facebook::after {
    background: #3b5999;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #6e5494;
}

.social-button--github::after {
    background: #6e5494;
}

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--steam {
    color: #7da10e;
}

.social-button--steam::after {
    background: #7da10e;
}

.social-button--snapchat {
    color: #eec900;
}

.social-button--snapchat::after {
    background: #eec900;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
}


/* End Button Styles */